@-webkit-keyframes cursordef {
  0% {cursor: url('../animations/blue/default-0.png'), pointer;}
  10% {cursor: url('../animations/blue/default-1.png'), pointer;}
  20% {cursor: url('../animations/blue/default-2.png'), pointer;}
  30% {cursor: url('../animations/blue/default-3.png'), pointer;}
  40% {cursor: url('../animations/blue/default-4.png'), pointer;}
  50% {cursor: url('../animations/blue/default-5.png'), pointer;}
  51% {cursor: url('../animations/blue/default-6.png'), pointer;}
  52% {cursor: url('../animations/blue/default-7.png'), pointer;}
  53% {cursor: url('../animations/blue/default-8.png'), pointer;}
  55% {cursor: url('../animations/blue/default-9.png'), pointer;}
  57% {cursor: url('../animations/blue/default-10.png'), pointer;}
  60% {cursor: url('../animations/blue/default-11.png'), pointer;}
  70% {cursor: url('../animations/blue/default-12.png'), pointer;}
  80% {cursor: url('../animations/blue/default-13.png'), pointer;}
  90% {cursor: url('../animations/blue/default-14.png'), pointer;}
  100% {cursor: url('../animations/blue/default-15.png'), pointer;}
}
@keyframes cursordef {
  0% {cursor: url('../animations/blue/default-0.png'), pointer;}
  10% {cursor: url('../animations/blue/default-1.png'), pointer;}
  20% {cursor: url('../animations/blue/default-2.png'), pointer;}
  30% {cursor: url('../animations/blue/default-3.png'), pointer;}
  40% {cursor: url('../animations/blue/default-4.png'), pointer;}
  50% {cursor: url('../animations/blue/default-5.png'), pointer;}
  51% {cursor: url('../animations/blue/default-6.png'), pointer;}
  52% {cursor: url('../animations/blue/default-7.png'), pointer;}
  53% {cursor: url('../animations/blue/default-8.png'), pointer;}
  55% {cursor: url('../animations/blue/default-9.png'), pointer;}
  57% {cursor: url('../animations/blue/default-10.png'), pointer;}
  60% {cursor: url('../animations/blue/default-11.png'), pointer;}
  70% {cursor: url('../animations/blue/default-12.png'), pointer;}
  80% {cursor: url('../animations/blue/default-13.png'), pointer;}
  90% {cursor: url('../animations/blue/default-14.png'), pointer;}
  100% {cursor: url('../animations/blue/default-15.png'), pointer;}
}
@-webkit-keyframes cursorlnk {
  0% {cursor: url('../animations/blue/link-0.png'), pointer;}
  10% {cursor: url('../animations/blue/link-1.png'), pointer;}
  20% {cursor: url('../animations/blue/link-2.png'), pointer;}
  30% {cursor: url('../animations/blue/link-3.png'), pointer;}
  40% {cursor: url('../animations/blue/link-4.png'), pointer;}
  50% {cursor: url('../animations/blue/link-5.png'), pointer;}
  51% {cursor: url('../animations/blue/link-6.png'), pointer;}
  52% {cursor: url('../animations/blue/link-7.png'), pointer;}
  53% {cursor: url('../animations/blue/link-8.png'), pointer;}
  55% {cursor: url('../animations/blue/link-9.png'), pointer;}
  57% {cursor: url('../animations/blue/link-10.png'), pointer;}
  60% {cursor: url('../animations/blue/link-11.png'), pointer;}
  70% {cursor: url('../animations/blue/link-12.png'), pointer;}
  80% {cursor: url('../animations/blue/link-13.png'), pointer;}
  90% {cursor: url('../animations/blue/link-14.png'), pointer;}
  100% {cursor: url('../animations/blue/link-15.png'), pointer;}
}
@keyframes cursorlnk {
  0% {cursor: url('../animations/blue/link-0.png'), pointer;}
  10% {cursor: url('../animations/blue/link-1.png'), pointer;}
  20% {cursor: url('../animations/blue/link-2.png'), pointer;}
  30% {cursor: url('../animations/blue/link-3.png'), pointer;}
  40% {cursor: url('../animations/blue/link-4.png'), pointer;}
  50% {cursor: url('../animations/blue/link-5.png'), pointer;}
  51% {cursor: url('../animations/blue/link-6.png'), pointer;}
  52% {cursor: url('../animations/blue/link-7.png'), pointer;}
  53% {cursor: url('../animations/blue/link-8.png'), pointer;}
  55% {cursor: url('../animations/blue/link-9.png'), pointer;}
  57% {cursor: url('../animations/blue/link-10.png'), pointer;}
  60% {cursor: url('../animations/blue/link-11.png'), pointer;}
  70% {cursor: url('../animations/blue/link-12.png'), pointer;}
  80% {cursor: url('../animations/blue/link-13.png'), pointer;}
  90% {cursor: url('../animations/blue/link-14.png'), pointer;}
  100% {cursor: url('../animations/blue/link-15.png'), pointer;}
}
@-webkit-keyframes cursordsbld {
  0% {cursor: url('../animations/blue/disabled-0.png'), no-drop;}
  10% {cursor: url('../animations/blue/disabled-1.png'), no-drop;}
  20% {cursor: url('../animations/blue/disabled-2.png'), no-drop;}
  30% {cursor: url('../animations/blue/disabled-3.png'), no-drop;}
  40% {cursor: url('../animations/blue/disabled-4.png'), no-drop;}
  50% {cursor: url('../animations/blue/disabled-5.png'), no-drop;}
  51% {cursor: url('../animations/blue/disabled-6.png'), no-drop;}
  52% {cursor: url('../animations/blue/disabled-7.png'), no-drop;}
  53% {cursor: url('../animations/blue/disabled-8.png'), no-drop;}
  55% {cursor: url('../animations/blue/disabled-9.png'), no-drop;}
  57% {cursor: url('../animations/blue/disabled-10.png'), no-drop;}
  60% {cursor: url('../animations/blue/disabled-11.png'), no-drop;}
  70% {cursor: url('../animations/blue/disabled-12.png'), no-drop;}
  80% {cursor: url('../animations/blue/disabled-13.png'), no-drop;}
  90% {cursor: url('../animations/blue/disabled-14.png'), no-drop;}
  100% {cursor: url('../animations/blue/disabled-15.png'), no-drop;}
}
@keyframes cursordsbld {
  0% {cursor: url('../animations/blue/disabled-0.png'), no-drop;}
  10% {cursor: url('../animations/blue/disabled-1.png'), no-drop;}
  20% {cursor: url('../animations/blue/disabled-2.png'), no-drop;}
  30% {cursor: url('../animations/blue/disabled-3.png'), no-drop;}
  40% {cursor: url('../animations/blue/disabled-4.png'), no-drop;}
  50% {cursor: url('../animations/blue/disabled-5.png'), no-drop;}
  51% {cursor: url('../animations/blue/disabled-6.png'), no-drop;}
  52% {cursor: url('../animations/blue/disabled-7.png'), no-drop;}
  53% {cursor: url('../animations/blue/disabled-8.png'), no-drop;}
  55% {cursor: url('../animations/blue/disabled-9.png'), no-drop;}
  57% {cursor: url('../animations/blue/disabled-10.png'), no-drop;}
  60% {cursor: url('../animations/blue/disabled-11.png'), no-drop;}
  70% {cursor: url('../animations/blue/disabled-12.png'), no-drop;}
  80% {cursor: url('../animations/blue/disabled-13.png'), no-drop;}
  90% {cursor: url('../animations/blue/disabled-14.png'), no-drop;}
  100% {cursor: url('../animations/blue/disabled-15.png'), no-drop;}
}